@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-blue: #10316b;
  --secondary-yellow: #ffe867;
}
.p-inputtext {
  font-family: "Anuphan", sans-serif;
  padding: 0.5rem;
}
.p-calendar-w-btn {
  outline: none;
}

h1 {
  font-family: "Anuphan", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
h2 {
  font-family: "Anuphan", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

h3 {
  font-family: "Anuphan", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1rem;
  }
  h2 {
    font-size: 0.95rem;
  }
  h3 {
    font-size: 0.8rem;
  }
}
